@using Lab1.Services

@{

    ViewData["Title"] = "ServiceInjectionCalc";
    var value1 = Model[0];
    var value2 = Model[1];
    var add = value1 + value2;
    var sub = value1 - value2;
    var mult = value1 * value2;
    var div = value1 / value2;
}

<h2>ServiceInjectionCalc</h2>
<div>Первое число: @value1</div>
<div>Второе число: @value2</div>
<div>Сумма: @value1 + @value2 = @add</div>
<div>Разность: @value1 - @value2 = @sub</div>
<div>Умножение: @value1 * @value2 = @mult</div>
<div>Деление: @value1 / @value2 = @div</div>
